/*sur balise image object-fit: valueX et object-position*/
body{
    font-family: "Roboto";
    font-size: 16px;
    margin:0;
    /*width : 100vw;
    margin-left: 20px;
    margin-right:20px;*/
}

.border {
    border : 5px red solid;
}
.border-child {
    border : 2px rgb(0, 255, 34) solid;
}

.text-w{
    color: #ccc6c6;
}

.text-grey{
    color:#EEEEEE;
}

.text-grand{
    font-size: 22px;
}

.text-footer{
    font-size: 12px;
}

.text-center{
    text-align: center;
}
.underline{
    text-decoration: underline;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/*------- classe affichage ------------*/

.d-flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-block{
    display: block;
}

.d-flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcg-greySW{
    background-color: #EEEEEE;
}

.marg-top-20{
    margin-top: 20px;
}

/*--------------------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width : 100vw;
    background-image: url("../images/yoda.jpg")  ;
    background-repeat: no-repeat;
    background-position: top;
}

.header-info{
    align-self: flex-end;

    display:flex;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    width: 80vw;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: -50px;
    padding:15px;
    font-size: 20px;
    background-color: #EEEEEE;
    border-radius: 15px;    
}

.header-info-chlid-text{
    text-align: justify;
    margin-right : 5px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-info-chlid-chevron{
    text-align: center;
    align-content: center;
}

.link img{
    width: 32px;
    height: 32px;    
}

/* ---------------------------------- */

.section2{
    height:fit-content;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right : 50px;
    padding-left : 50px;
    padding-top: 50px;
    padding-bottom: 80px;

    margin-top:50px;
}

.s2-item3{
    background-color: #EEEEEE;
    border-radius: 15px;
    padding-right : 10px;
}

.s2-item2{
    width:100%;
    padding-right : 15px;
    padding-left : 15px;
}
.item2-p{
    /*padding: 15px;*/
    text-align: justify;
}

/* ---------------------------------- */
.section3{
    background-color: black;
    height: 50vh;
}
.citation{
    animation-name : opacityEffect;
    animation-duration: 2s ;
    animation-timing-function: ease-in-out;
}
@keyframes opacityEffect{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1s;
    }
}

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.5;
}
.dot:hover{
    transition: 0.5s;
    transform : scale(1.1);
    opacity: 1;
}



/* ---------------------------------- */
.wrapper{
    /*width:100vw;*/
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*Fixe la largeur des colonnes*/
    /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */ /*Fixe la hauteur des lignes*/
    grid-auto-rows: auto; /* height of each row (definition in the first post) */
    grid-gap: 2ch;

    justify-items: center;

    padding-top: 15px ;
    
}
.item-grid{
    width: fit-content;
    height: auto;
    border-radius: 15%;  

}
.item-grid:hover{
    animation-name:fadeInOut;
    animation-duration:3s;
    animation-timing-function: cubic-bezier();
    /*animation-fill-mode:backwards;*/
    /*animation-direction: alternate;*/
}

@keyframes fadeInOut{
    0%, 100%{
        transform : scale(1);
    }
    50% {
        transform : scale(1.5);
    }
}


.item-grid img{
    width: 180px;
    height: 250px;
}


/*----------------- */
.formNews{
    margin-top: 50px;
    padding-bottom: 15px;
}
footer{
    width : 100vw;
    background-color:  #EEEEEE;
    border-top: black 1px solid;
    padding-top: 15px;
}
#id-email:valid{
    background-color: darkcyan;
}
#id-email:invalid{
    background-color: rgb(255, 0, 85);
}

@media (min-width: 576px) and (max-width:950px){
    header {
        background-size: cover;
    }

    .header-info{
        width:50vw;
    }
    .section2{
        height:fit-content;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin-top:50px;
    }
    .s2-item2{
        width: 450px;
    }
    .s2-item3{
        min-width:180px;
    }
    .section3{
        background-color: black;
        height: 50vh;
    }
    .wrapper{
        /*width:100vw;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
        grid-auto-rows: auto; /* height of each row (definition in the first post) */
        grid-gap: 2ch;

        padding: 15px 10px 0px 10px;
    }
    .item-grid{
        width: fit-content;
        height: auto;
    }

    .item-grid img{
        width: 180px;
        height: 250px;
    }

}

@media(min-width: 950px){

    header{
        background-size: cover;
    }
    .header-info{
        width:50vw;
    }
    .section2{
        height:fit-content;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin-top:50px;
    }
    .s2-item2{
        width: 450px;
    }

    .section3{
        background-color: black;
        height: 50vh;
    }

    .wrapper{
        /*width:100vw;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
        grid-auto-rows: auto; /* height of each row (definition in the first post) */
        grid-gap: 2ch;
        /*column-gap: 2ch;
        row-gap: 0ch;*/
        padding: 15px 70px 0px 70px;
    }

    .item-grid{
        width: fit-content;
        height: auto;
    }

    .item-grid img{
        width: 180px;
        height: 250px;
    }

}