/*sur balise image object-fit: valueX et object-position*/

.border {
    border : 5px red solid;
}
.border-child {
    border : 2px rgb(0, 255, 34) solid;
}

.text-w{
    color: #ccc6c6;
}

#id-email:valid{
    background-color: darkcyan;
}
#id-email:invalid{
    background-color: rgb(255, 0, 85);
  }

.d-flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-block{
    display: block;
}

.d-flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcg-greySW{
    background-color: #EEEEEE;
}

.marg-top-20{
    margin-top: 20px;
}

.formNews{
    margin-top: 50px;
}

body{
    font-family: "Roboto";
    font-size: 16px;
    margin:0;
    /*width : 100vw;
    margin-left: 20px;
    margin-right:20px;*/
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width : 100vw;
    background-image: url("../images/yoda.jpg")  ;
    background-repeat: no-repeat;
    background-position: top;
}

.header-info{
    align-self: flex-end;

    display:flex;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    width: 80vw;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: -50px;
    padding:15px;
    font-size: 20px;
    background-color: #EEEEEE;
    border-radius: 15px;    
}

.header-info-chlid-text{
    text-align: justify;
    margin-right : 5px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-info-chlid-chevron{
    text-align: center;
    align-content: center;
}

.link img{
    width: 32px;
    height: 32px;    
}

.section2{
    height:fit-content;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right : 50px;
    padding-left : 50px;
    padding-top: 50px;
    padding-bottom: 80px;

    margin-top:50px;
}

.s2-item3{
    background-color: #EEEEEE;
    border-radius: 15px;
    padding-right : 10px;
}

.s2-item2{
    width:100%;
    padding-right : 15px;
    padding-left : 15px;
}
.item2-p{
    /*padding: 15px;*/
    text-align: justify;
}
.section3{
    background-color: black;
    height: 50vh;
}
.wrapper{
    width:100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
    grid-auto-rows: auto; /* height of each row (definition in the first post) */
    grid-gap: 2ch;

    justify-items: center;

    padding-top: 15px;
}
.item-grid{
    width: fit-content;
    height: auto;
}

.item-grid img{
    width: 180px;
    height: 250px;
}
.item-grid:hover{
    transform : scale(1.5);
}

#id_valid:valid {
    background-color: green;
    border: none;
    outline: 2px solid deepskyblue;
    border-radius: 5px;
    accent-color: gold;
}


@media (min-width: 576px) and (max-width:950px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        width : 100vw;
        /*background-image: url("../images/yoda.jpg")  ;*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-info{
        width:50vw;
    }
    .section2{
        height:fit-content;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin-top:50px;
    }
    .s2-item2{
        width: 450px;
    }
    .s2-item3{
        min-width:180px;
    }
    .section3{
        background-color: black;
        height: 50vh;
    }
    .wrapper{
        width:100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
        grid-auto-rows: auto; /* height of each row (definition in the first post) */
        grid-gap: 2ch;
    }
    .item-grid{
        width: fit-content;
        height: auto;
    }

    .item-grid img{
        width: 180px;
        height: 250px;
    }

}

@media(min-width: 950px){


    .header-info{
        width:50vw;
    }
    .section2{
        height:fit-content;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin-top:50px;
    }
    .s2-item2{
        width: 450px;
    }

    .section3{
        background-color: black;
        height: 50vh;
    }

    .wrapper{
        width:100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
        grid-auto-rows: auto; /* height of each row (definition in the first post) */
        grid-gap: 2ch;
    }

    .item-grid{
        width: fit-content;
        height: auto;
    }

    .item-grid img{
        width: 180px;
        height: 250px;
    }

}